
body {
    background:linear-gradient( rgba(5, 2, 20, 0.479), rgba(6, 77, 127, 0.146) ), url(../img/wall2.jpg);
    background-repeat: repeat;
    background-size: 1400px;
    color: rgb(255, 255, 255);
    margin:auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.video {
    width: 100%;
    object-fit: cover;
    height: auto;
  
}

.video-container {
    height: auto;
   
}

video {
    height: 40vmin;
    width: auto;
}

.articles img
{
    border-radius: 100px;
    height: 150px;
    width: auto;
}
article {
    display: flex;
    background-color: #0c8284c0;
    color: white;
    flex-shrink: inherit;
    padding: 2rem;
    margin: 1rem;
    justify-content: space-between;
    border-radius: 25px;
}

article header {
    flex-shrink: 0;
    font-size: 35px;
    font-weight: bolder;
}

article p {
    flex-basis: auto;
    font-size: 23px;
}

article footer {
    align-self: end;
    background-color: #508991;
    padding: 1rem;
    border-radius: 100px;
}
.articles a{
    color:rgb(0, 225, 255);
   
}
article footer a {
    text-decoration: none;
    color: #75dddd;
    border-radius: 100px;
    
}
article footer a:hover {
    color: #ffffff;
}


a:hover {
    color: #fff7f7;
}

.page-footer {
    padding: 1px;
    background-color:rgba(5, 2, 20, 0.648);
    text-align: center;
}

.page-footer a {
    text-decoration: none;
    color: #003cff;
}


.nav {
    height: auto;
    background:linear-gradient( rgb(4, 63, 86), rgba(6, 227, 243, 0.68) ); 
    color:rgba(250, 254, 255, 0.546);
    background-color:rgba(44, 221, 221, 0.553);
    height: 3.5rem;
    width: 100%;
    
}

.nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 3rem;
    
}

.nav_ul li {
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2em;
    margin: 0 1rem 0 0;
    float: left;
    
}

.nav_ul li a {
    color: #012125;
    text-decoration: none;
}

.nav_ul li a:hover {
    color: #e0f4f4;
}

.header {
    padding: 1rem 0% 0% 2rem;
    align-items: flex-start;
    flex-direction: column;

}

 h1 {
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 letter-spacing: 0.1em;
 font-size: 60px;
 color: rgba(255, 255, 255, 0.836);
 font-weight: lighter;
 text-align: center;
 text-shadow: 3px 5px 6px rgba(0, 215, 253, 0.546);
 margin-top: 0px;
 float: center;
 line-height: normal;
}
 h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 3px 5px rgb(9, 254, 201);
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

.header img {
    width: 5rem;
    height: auto;
    background-color:rgba(159, 236, 242, 0.212);
    border-radius: 25px;
}

.asideProducts {
    width: auto;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #02254b96;
    border-radius: 25px;
}

.asideProducts h4 {
    flex-grow: inherit;
    font-size: 30                                                                px;
}

.asideProducts ol {
    list-style-type: none;
    counter-reset: orderedlist;
    padding-left: 0;
}


.asideProducts ol li a::before {
    counter-increment: orderedlist;
    color: grey;
    font-style: italic;
    font-size: 1rem;
    font-family:monospace;
}

.asideProducts ol li a {
    color: #508991;
    text-decoration: none;
}

.asideProducts ol li img {
    height: auto;
    width: 14rem;
    border-radius: 15px;
}

.asideCookie {
    position: fixed;
    font-size: 20px;
    background-color: #FA0;
    opacity: 0.5;
    height: 4rem;
    padding: 3rem;
    bottom: 0;
    right: 0;
    z-index: 9999;
    border-radius: 29px;
}

.asideCookie * {
    opacity: 1;
}

@media (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1rem;
    }

    article {
        flex-direction: row;
        flex: 3 10px;
    }

    article header {
        flex-basis: 10rem;
    }

    article img {
        height: 10rem;
        width: auto;
    }

    .mobile {
        visibility: hidden;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
    }

    article p {
        flex-direction: column;
        float: right;
        order:2;
        margin-top:2em;
        padding-right: auto;
    }

    article header {
        flex-basis: 10rem;
       ;
        order:1;
        
    }

    article img {
        height: 20rem;
        width: auto;
        order:2;
        margin-top:8em;
    }
    img figcaption
    {
        order:4;
    }

    .asideProducts {
        font-size: 1rem;
    }

    .mobile {
        visibility: hidden;
    }
    .desktop nav{
        clear: both;
    }
}

@media (max-width: 720px) {
    main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
    }

    #logo {
        display: none;
    }

    .desktop {
        visibility: visible;
        height: 6rem;
    }

    article {
        flex-direction: column;
        margin: 1rem;
    }

    article header {
        flex-basis: 0px;
    }

    article img {
        height: 10rem;
        width: auto;
    }

    .header {
        height: 5rem;
        padding: 0rem 0% 0% 1rem;
        font-size: 1px;
    }

    .nav_ul {
        flex-direction: column;
        height: 10rem;
        visibility: hidden;
        z-index: 100;
        position: relative;
        padding: 0% 52%
    }
}

.menu_input {
    display: none;
}

.hamburger {
    float: right;
    padding: 15px 47%;
    cursor: pointer;
}

.hamburger-line {
    display: block;
    position: relative;
    background: #75dddd;
    height: 2px;
    width: 20px;
}

.hamburger-line::before {
    top: 6px;
    display: block;
    position: relative;
    background: #75dddd;
    height: 2px;
    width: 20px;
    content: '';
}

.hamburger-line::after {
    top: 10px;
    display: block;
    position: relative;
    background: #75dddd;
    height: 2px;
    width: 20px;
    content: '';
}

.menu_input:checked~.nav_ul {
    visibility: visible;
    background-color: #0da5b0c3;
}

.menu_input:checked~.hamburger .hamburger-line {
    background: transparent;
}

.menu_input:checked~.hamburger .hamburger-line:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu_input:checked~.hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
}

