main {
    padding: 1rem 0 1rem 0;
    flex-direction: row;
}

main>#pricing {
    flex-direction: column;
    align-self: center;
}

.asideProducts {
    margin-left: auto;
    padding-left: 1rem;
}

.grid-holder {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-holder-sections {
    display: inline-grid;
    grid-template-rows: repeat(2, 0fr);
    grid-template-columns: repeat(1, minmax(100px, 1fr));
    gap: 10px;
    margin: 0px;
    width: 100%;
}
.price{
    background-color: #ff0000e8;
}

.bottom-aside {
    grid-row: 1;
}

.articles {
    grid-column: 1;
    grid-row: 1;
}

article {
    display: block;
}

.bottom-holder {
    grid-column: 1;
    grid-row: 2;
}

.pricing-table {
    padding-top: 3rem;
    padding-left: 10%;
    padding-right: 10%;
    overflow: auto;
    margin: 5%;
    border-radius: 25px;
    display: flex;

}
.head{
    background-color: rgba(255, 226, 9, 0.532);
    border: 5px solid #012125;
    font-weight: bolder;
    
}
.pricing-table>th{
    background-color: #0ad82c54;
}

.pricing-table>tbody>tr>td {
    padding: 20px;
    border: 5px solid #012125;
    background-color: #0ad8d854; 
}

main>footer {
    padding-top: 5rem;
    padding-left: 20%;
    padding-right: 20%;
}

@media (min-width: 720px) and (max-width: 1200px) {
    main {
        padding: 1rem 0 1rem 0;
        flex-direction: column;
    }

    .asideProducts {
        margin-left: unset;
        padding-left: 1rem;
        display: inline;
    }

    .asideProducts>aside>ol>li {
        display: inline;
        float: center;
    }
}


@media (max-width: 720px) {
    main {
        padding: 1rem 0 1rem 0;
        flex-direction: column;
    }

    .asideProducts {
        margin-left: unset;
        padding-left: 1rem;
    }

    .pricing-table {
        padding-top: 5px;
        padding-left: 5px;
        padding-right: 5px;
        overflow: scroll;
    }
}
.asideProducts ol li img {
    height: auto;
    width: 14rem;


}

body {
    background:linear-gradient( rgba(5, 2, 20, 0.479), rgba(6, 77, 127, 0.146) ), url(../img/wall2.jpg);
    background-repeat: repeat;
    background-size: 1400px;
    color: rgb(255, 255, 255);
    margin:auto;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
article header {
    flex-shrink: 0;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
    background-color: rgba(0, 215, 253, 0.425);
    border-radius: 317px;
    padding: 141px;
}

article p {
    flex-basis: auto;
    font-size: 23px;
}
a:hover {
    color: #fff7f7;
}

.page-footer {
    padding: 1px;
    background-color:rgba(5, 2, 20, 0.648);
    text-align: center;
}

.page-footer a {
    text-decoration: none;
    color: #003cff;
}

.nav {
    height: auto;
    background:linear-gradient( rgb(4, 63, 86), rgba(6, 227, 243, 0.68) ); 
    color:rgba(250, 254, 255, 0.546);
    background-color:rgba(44, 221, 221, 0.553);
    height: 3.5rem;
    width: 100%;
    
}

.nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    height: 3rem;
    
}

.nav_ul li {
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.2em;
    margin: 0 1rem 0 0;
    float: left;
    
}

.nav_ul li a {
    color: #012125;
    text-decoration: none;
}

.nav_ul li a:hover {
    color: #e0f4f4;
}


.header {
    padding: 1rem 0% 0% 2rem;
    align-items: flex-start;
    flex-direction: column;

}

 h1 {
 font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 letter-spacing: 0.1em;
 font-size: 60px;
 color: rgba(255, 255, 255, 0.836);
 font-weight: lighter;
 text-align: center;
 text-shadow: 3px 5px 6px rgba(0, 215, 253, 0.546);
 margin-top: 0px;
 float: center;
 line-height: normal;
}
 h2 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 2px 3px 5px rgb(9, 254, 201);
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

.header img {
    width: 5rem;
    height: auto;
    background-color:rgba(159, 236, 242, 0.212);
    border-radius: 25px;
}

.asideProducts {
    
    background-color: #02254b96;
    border-radius: 25px;
}

.asideProducts h4 {
    flex-grow: inherit;
    font-size: 30 px;
}

.asideProducts ol {
    list-style-type: none;
    counter-reset: orderedlist;
    padding-left: 0rem;

}


.asideProducts ol li a::before {
    counter-increment: orderedlist;
    color: grey;
    font-style: italic;
    font-size: 1rem;
    font-family:monospace;
}

.asideProducts ol li a {
    color: #508991;
    text-decoration: none;
}

.asideProducts ol li img {
    height: auto;
    width: 14rem;
    border-radius: 15px;
}

.asideCookie {
    position: fixed;
    font-size: 20px;
    background-color: #FA0;
    opacity: 0.5;
    height: 4rem;
    padding: 3rem;
    bottom: 0;
    right: 0;
    z-index: 9999;
    border-radius: 29px;
}

.asideCookie * {
    opacity: 1;
}

@media (min-width: 1200px) {
    main {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 1rem;
    }

    article {
        flex-direction: row;
        flex: 3 10px;
    }

    article header {
        flex-basis: 10rem;
    }

    .mobile {
        visibility: hidden;
    }
}

@media (min-width: 720px) and (max-width: 1200px) {
    main {
        display: flex;
      
       ;
        padding: 1rem;
        font-size: 1rem;
    }
    .asideProducts ol {
        padding-left: 10rem;
        
    }
    article p {
        flex-direction: column;
        float: right;
        order:2;
        margin-top:2em;
    }

    article header {
        flex-basis: 10rem;
        order:1;
    }
    #asideProduct1 {
        display: none;
        margin-right: 1000px;
    }


    article img {
        height: 20rem;
        width: auto;
        order:2;
        margin-top:8em;
    }
    img figcaption
    {
        order:4;
    }

    .asideProducts {
        font-size: 1rem;
    }

    .mobile {
        visibility: hidden;
    }
    .desktop nav{
        clear: both;
    }
    .aside-inside
    {
        display: flex;
        margin: 0%;
    }
}

@media (max-width: 720px) {
    main {
        flex-wrap: wrap;
        
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
    }

    #logo {
        display: none;
    }

    .desktop {
        visibility: visible;
        height: 6rem;
    }

    article {
        flex-direction: column;
        margin: 1rem;
    }

    article header {
        flex-basis: 0px;
    }

    article img {
        height: 10rem;
        width: auto;
    }

    .header {
        height: 5rem;
        padding: 0rem 0% 0% 1rem;
        font-size: 1px;
    }

    .nav_ul {
        flex-direction: column;
        height: 10rem;
        visibility: hidden;
        z-index: 100;
        position: relative;
        padding: 0% 52%
    }
}

.menu_input {
    display: none;
}

.hamburger {
    float: right;
    padding: 15px 47%;
    cursor: pointer;
}

.hamburger-line {
    display: block;
    position: relative;
    background: #75dddd;
    height: 2px;
    width: 20px;
}

.hamburger-line::before {
    top: 6px;
    display: block;
    position: relative;
    background: #75dddd;
    height: 2px;
    width: 20px;
    content: '';
}

.hamburger-line::after {
    top: 10px;
    display: block;
    position: relative;
    background: #75dddd;
    height: 2px;
    width: 20px;
    content: '';
}

.menu_input:checked~.nav_ul {
    visibility: visible;
    background-color: #0da5b0c3;
}

.menu_input:checked~.hamburger .hamburger-line {
    background: transparent;
}

.menu_input:checked~.hamburger .hamburger-line:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu_input:checked~.hamburger .hamburger-line::after {
    transform: rotate(45deg);
    top: 0;
}
